<ion-header>
  <ion-toolbar
  color="primary">
  <ion-buttons slot="start">
    <ion-button (click)="this.sidebar.toggleMenu()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>{{ "menu.chat" | translate }}</ion-title>
</ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-grid>
    <ion-row *ngFor="let message of messages">
 
      <ion-col size="9" *ngIf="message.user !== currentUser" class="message other-message">
        <b>{{ message.user }}</b><br>
        <span>{{ message.msg }}</span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
 
      <ion-col offset="3" size="9" *ngIf="message.user === currentUser" class="message my-message">
        <b>{{ message.user }}</b><br>
        <span>{{ message.msg }}</span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
 
    </ion-row>
  </ion-grid>
</ion-content>
 
<ion-footer>
  <ion-toolbar color="light">
    <ion-row no-padding align-items-center>
      <ion-col size="10">
        <textarea autosize class="message-input" maxRows="4" [(ngModel)]="newMsg"></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>