ion-header ion-icon {
    font-size: 24px;
  }
  ion-toolbar .tabs {
    display: flex;
    justify-content: center;
    .tab {
      text-align: center;
      width: calc(100% / 3);
      color: #8c8c8c;
      &.active {
        color: #488aff;
      }
      ion-icon {
        font-size: 30px;
      }
      .label {
        font-size: 10px;
        margin-top: -2px;
      }
    }
  }
  h1 {
    font-weight: 800;
    letter-spacing: -0.03em;
    font-size: 32px;
    line-height: 32px;
    margin: 8px 0 16px 16px;
  }


  ion-card {
    --color: rgba(24,39,74,1);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, rgb(248, 248, 248) 100%);
    border-radius: 20px;
    padding: 8px 0;
    text-align: left;

    ion-card-content {
        h2 {
            font-size: 20px;
            font-weight: bolder;
            margin-bottom: 12px;
        }
    }

}

:host {
  ion-content {
      --background: var(--ion-color-light);
  }
}



  