<ion-content padding>
  <ion-list>
    <ion-item (click)="onSubmit('en')">
      <ion-avatar slot="start">
        <img src="../../../assets/flags/usa.png" />
      </ion-avatar>
      <ion-label>{{ "lang.English" | translate }}</ion-label>
    </ion-item>
    <ion-item (click)="onSubmit('fr')">
      <ion-avatar slot="start">
        <img src="../../../assets/flags/fr.png" />
      </ion-avatar>
      <ion-label>{{ "lang.Franch" | translate }}</ion-label>
    </ion-item>
    <ion-item (click)="onSubmit('de')">
      <ion-avatar slot="start">
        <img src="../../../assets/flags/de.png" />
      </ion-avatar>
      <ion-label>{{ "lang.German" | translate }}</ion-label>
    </ion-item>
    <ion-item (click)="onSubmit('ar')">
      <ion-avatar slot="start">
        <img src="../../../assets/flags/ar.png" />
      </ion-avatar>
      <ion-label>{{ "lang.arabic" | translate }}</ion-label>
    </ion-item>
    <ion-item (click)="onSubmit('es')">
      <ion-avatar slot="start">
        <img src="../../../assets/flags/es.png" />
      </ion-avatar>
      <ion-label>{{ "lang.spanish" | translate }}</ion-label>
    </ion-item>
    <ion-item (click)="onSubmit('ja')">
      <ion-avatar slot="start">
        <img src="../../../assets/flags/ja.png" />
      </ion-avatar>
      <ion-label>{{ "lang.japanese" | translate }}</ion-label>
    </ion-item>
    <ion-item (click)="onSubmit('zh')">
      <ion-avatar slot="start">
        <img src="../../../assets/flags/ch.png" />
      </ion-avatar>
      <ion-label>{{ "lang.chinese" | translate }}</ion-label>
    </ion-item>
    <ion-item (click)="onSubmit('ru')">
      <ion-avatar slot="start">
        <img src="../../../assets/flags/ru.png" />
      </ion-avatar>
      <ion-label>{{ "lang.russian" | translate }}</ion-label>
    </ion-item>
    <ion-item (click)="onSubmit('hi')">
      <ion-avatar slot="start">
        <img src="../../../assets/flags/in.png" />
      </ion-avatar>
      <ion-label>{{ "lang.hindi" | translate }}</ion-label>
    </ion-item>
    <ion-item (click)="onSubmit('nl')">
      <ion-avatar slot="start">
        <img src="../../../assets/flags/nl.png" />
      </ion-avatar>
      <ion-label>{{ "lang.dutch" | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
