<ion-content no-padding>
  <div class="main">
    <ion-card no-margin>
      <ion-card-content>
        <ion-row class="row">
          <div class="fire-logo">
            <img src="assets/icon/hotel-royal.png" class="img-logo">
            <ion-text class="front-text">
                {{ "forgot-password.title" | translate }}
            </ion-text>
          </div>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>{{ "forgot-password.text" | translate }}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="email" placeholder="Email" [(ngModel)]="email" class="input" padding-horizontal
              clear-input="true"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="recover()" color="undefined" class="transition">
              <strong class="white">
                  {{ "forgot-password.Recover" | translate }}</strong></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="error" text-center>{{error}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text text-center class="block">{{ "forgot-password.Already" | translate }}
              <span class="bold" routerLink="/login">{{ "forgot-password.Login-here" | translate }}</span></ion-text>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>